<div class="main-page"></div>
{% schema %}
{
  "name": "Main Page",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Main Page",
      "settings": {}
    }
  ]
}
{% endschema %}
